#page-orphanages {
    width: 100vw;
    height: 100vh;

    display: flex;
}

aside {
    width: clamp(10rem, 30vw, 30rem);
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    padding: clamp(2rem, 4vw, 4rem);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2 {
    margin-top: clamp(1rem, 10vw, 6rem);

    /*shorthand font: weight size line-height family*/
    font-weight: 900;
    font-size: clamp(1.25rem, 5vw, 2.25rem);
    line-height: 1.1;
    font-family: 'Nunito', sans-serif;
}

aside p {
    margin-top: clamp(1.25rem, 8vw, 5rem);
    font: 400 1.25rem/1.25 'Nunito', sans-serif;
}

aside footer p{
    margin: 0;
}

#mapid {
    width: 100%;
    height: 100%;
    animation-delay: 200ms;
}

/* button */
a.create-orphanages {
    position: absolute;
    right: 2vw;
    bottom: 4vh;

    z-index: 10;

    width: 4rem;
    height: 4rem;
    background: #15c3d6;

    border: none;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 200ms;
}

a.create-orphanages:hover {
    background: #17d6eb;
}

/* MAP */
.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 17.2868px 27.65px 41.48px rgba(23, 142, 166, 0.16);
    border-radius: 1rem;
}

.leaflet-popup-content {
    color: #0089A5;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    margin: 0.5rem 0.75rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaflet-popup-content a {
    width: 2.5rem;
    height: 2.5rem;
    background: #15c3d6;
    box-shadow: 17.2868px 27.65px 41.48px rgba(23, 142, 166, 0.16);
    border-radius: 0.75rem;

    display: flex;
    align-items: center;
    justify-content:center;

    transition: background 200ms;
}

.leaflet-popup-content a:hover {
    background-color: #17D6EB;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container {
    position: relative;
    z-index: 5;
}