
#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    min-height: 100vh;
    text-align: center;
    /* o display flex trata de regras dentro da caixa */
    display: flex;
}

#container {
    /* o margin: auto só funciona se o elemento pai possuir um display: flex */
    margin: auto;
    width: min(90%, 70rem);
}

.location, h1, .visit p {
    height: 16vh;
}

.visit a {
    width: 5rem;
    height:5rem;
    background-color: #ffd666;
    border: none;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    transition: background 200ms;
    animation-delay: 250ms;
}

.visit a:hover {
    background-color: #96feff;
}

/* animações */
#logo {
    animation-delay: 50ms;
}

#location {
        animation-delay: 100ms ;
}

main h1 {
    animation-delay: 150ms;
    font-size: clamp(2.5rem, 8vw, 4rem);
}

.visit p {
    animation-delay: 200ms;
}

/* DESKTOP VERSION */

@media(min-width: 47.5rem) {
    /*Quando a largura for maior do que 760px, serão aplicadas as configurações abaixo*/

    header {
        display: flex;
        
        align-items: center;
        justify-content: space-between;
    }

    .location, h1, .visit p {
        height: initial;
        text-align: initial;
    }

    .location {
        text-align: right;
    }

    main h1 {
        font-weight: bold;
        width: min(25rem, 80%);
        margin: clamp(10%, 10vh, 12%) 0 2.5rem;
    }
}